DATABASE_HOST=host.docker.internal
DATABASE_NAME=system_control_alerts
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432

SERVER_PORT=2255
WEB_PORT=3000
VITE_API_URL=/api

JWT_SECRET=change-me
WS_HEARTBEAT_DEVICES_INTERVAL=30000
